
body{
 background-image: url("Pared2.jpg");
 background-position: center;
 background-repeat: repeat;
 background-size: 300px 200px;
 text-align: center;
 font-family: sans-serif;
}
p{
	margin: 0px;
}
/*--------------------- TITULOS ---------------------*/
.tituloPrincipal{
	color:black;
	font-style: oblique; 
	font-size: 180px;
 	font-family: Arial, Helvetica, sans-serif;
 	text-shadow: 4px 3px white;
}
.tituloSecundarioIndex, .tituloSecundarioRegistro{
	text-align: center;
	font-style: oblique;
}
.tituloSecundarioIndex{
	font-size: 50px;
    margin-bottom: 2px;
    color: black;
}
.tituloSecundarioRegistro, .tituloSecundarioConfiguracion, .tituloTerciarioConfiguracion{
	font-size: 80px;
	font-family: oblique;
    color: black;
    text-shadow: 3px 2px white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.tituloSecundarioConfiguracion, .tituloSecundarioRegistro{
	font-size: 60px
}

.tituloTerciarioConfiguracion{
	font-size: 30px;
	font-family: cursive
}
.tituloTerciario{
	text-align: center;
	font-style: oblique;
	font-size: 30px;
    color: black;
    margin-bottom: 2px;
    text-shadow: 4px 3px black;
    font-family: cursive;
}
/*--------------------- LETRAS ---------------------*/

.labelWhite{
	color: white;
 	text-shadow: 2px 1px black;
 	font-family: sans-serif;
}
.textoBarra{
 	font-family: oblique bold 120% cursive;  
 	color: white;
 	font-size: 15px;
 	position: relative;
    margin-top: 0px;
    margin-right: 145px;
 }

/*--------------------- BOTONES ---------------------*/
.redondeado{
	border-radius: 8px;
	margin-bottom: 22px;
	background: rgba(white,0.1);
	opacity: 0.8;
	font-family: sans-serif;
	margin-top: 5px 
}
.boton{
	border-radius: 8px;
    border-color: orange;
	margin-top: 3px;
	font-family: cursive;
	margin: 0;
}
.botonInicio{
 	color: white;
 	background-color: black;
 	border-color: black;
 	font-family: cursive;
 	font-size: 20px;
 	text-decoration: none;
 	border-radius: 20px;
 }
 .botonInicio:hover{
 	color: yellow;
 	background-color: grey;
 	border-color: black;
 	border-radius: 20px;
 }
 .divBotones{
 	padding-right: 10px;
 	padding-left: 10px;
 }

/*--------------------- TABLAS DE ENTRADA ---------------------*/

.login, .registro, .registroConfiguracion{
 	border: 5px solid white;
 	border-radius: 20px;
 	padding: 5px;
 	margin: auto; 
 	margin-top: 2px; 
 	background-color: rgba(0,0,0,0.7);
 	color: black;
 	cursor: pointer;
 	text-align: center;
 	position: center;
 	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
 	position: relative;
 }
.login{
    width: 300px; 
 }
 .registro{
   	width: 250px; 
   	height: auto;
 }
 .registroConfiguracion{
 	height: auto;
 	width: 250px;
 }
 .registro, .registroConfiguracion:focus{
    outline: 1px;
 }
 /*--------------------- DISEÑOS DE PAGINA ---------------------*/

 .margenI, .margenD{
 	height: 670px;
 	width: 200px;
 	position: absolute;
 	top: 0px; 
 	background-repeat: no-repeat;
 }

 .margenI{
 	background-image: url("DiarioI.jpg");
 	left: 0px;
 }
  .margenD{
  	background-image: url("DiarioD.jpg");
 	right: 0px;
 }
 /*--------------------- BARRAS ---------------------*/
  .barraInicio, .barraFin{
 	background-color: black;
 	display: flex;
 }
   .divConfiguracion{
  	display: flex;
  	justify-content: space-between;
  	width: 700px;
  	margin: auto;
  	margin-bottom: 50px;
  }
 .barraInicio{
 	font-family: cursive;
 	position: relative;
 	padding: 6px;
 	justify-content: space-between;
 }
 .barraBusqueda{
	color: white;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	border-radius: 25px;
	margin: 0;
	position: static;
 }
 .barraFin{
 	justify-content: center;
 	bottom: 10px;
 	width: 1400px;
 	height: 10px;
 	padding: 8px;
 	left: 0px;
 	position: static;
 }

 /*--------------------- COMENTARIOS ---------------------*/

.fondoComentarios, .fondoComentariosPerfil{
     width: 650px;
     height:auto;
     background-color: rgba(0,0,0,0.7); 
    }
.fondoComentarios{
	margin: auto;
}
.comentario, .comentario-respuesta, .infoUsuario{
	display: flex;
	box-sizing: border-box;
}
.comentario-respuesta{
	width: 450px;
	margin: auto;
	margin-left: 0px;
}
.cuerpoComentario{
	margin: 10px;
	border-radius: 20px;
	margin-left: 5px;
}
.imagenPerfil, .imagenPanelPerfil{
    border-radius: 50%;
    overflow: hidden;
}
.imagenPerfil{
	margin-top: 10px;
	width: 300px;
	height: 100px;
}
.imagenPerfil img, .imagenPanelPerfil img{
	width: 100%;
	height: 100%
}
.imagenPublicacion{
	max-width: 500px;
	max-height: auto;
}
.textoBarraBot. .textoBarraBot-respuesta{
	color: white;
}
.textoBarraBot{
	margin: 10px;
	font-size: 20px;
}
.textoBarraBot-respuesta{
	margin: 5px;
	font-size: 13px;
}
.textoBarraTop, .textoBarraTop-respuesta{
	color: black;
}

.textoBarraTop{
	font-size: 20px;
	margin: 10px;	
}

.textoBarraTop-respuesta{
	font-size: 13px;
	margin: 5px;
}

.barraTop, .barraTop-publicacion{
	display: flex;
	justify-content: space-between;	
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-right: 5px;
	padding-left: 5px;
}
.barraTop{
	background-color: orange;
}
.barraTop-publicacion{
	background-color: red;
}
.contenido, .contenido-respuesta, .contenido-publicacion{
	bottom: 0px;
	background: white;
	font-family: cursive;
	font-size: 20px;
}
.contenido, .contenido-publicacion{
	width: 557.52px;
}
.contenido{
	height: auto;
}
.contenido-publicacion{
	height: 50px;
	border: 1px solid black;
}
.contenido-respuesta{
	width: 360px;
}
.barraBot{
	margin: 0px;
	display: flex;
	padding: 0px;
	background: black;
	color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px; 
	justify-content: space-between;
}

.contenedorIcono{
	display: flex;
	margin-right: 10px; 
	margin-top: 10px;
	justify-content: space-between;
}
.contenedorIcono-Respuesta{
	margin-right: 10px;
	margin-top: 5px; 
	display: flex;
	justify-content: space-between;
}
.contenedorIconoYFecha{
	display: flex;
}

.iconoCorazon {
	margin: 0px;
	margin-left: 12px;
	padding: 0px;
	color: white;
	text-decoration: none;
}
.iconoDelete{
	margin-top: 12px;
	margin-right: 5px;
	padding: 0px;
	color: black;
	text-decoration: none;
}
 .iconoClip{
	margin-top: 0px;
	padding: 0px;
	color: white;
}
.iconoCorazon: hover{
	color: red;
}

/* ------------------- */

.panelPerfil{
	margin-top: 40px;
	margin-left: 15px;
	width: 300px;
	height: 700px;
	background-color: black;
	border-radius: 20px;
	padding-top: 40px;
	display: block;
}
.imagenPanelPerfil{
	width: 200px;
	height: 200px;
	margin: auto;
}
.nombrePanelPerfil{
	margin: 0px;
}
.nombreUsuarioPanelPerfil, .nombrePanelPerfil, .siguiendo{
	padding-top: 30px; 
	font-size: 20px;
}
.fondoComentariosPerfil{
	margin-left: 100px;
	margin-top: 50px;
	display: block;
}

.fondoPerfil{
	width: all;
	height: all;
	display: flex;
}
.Busqueda{
	margin-bottom: 5px;
	border-radius: 20px;
}
/* ------------- JavaScript ----------*/

.bordeError {
	border: red solid 2px;
}

.fondoBusqueda {
    background-color: rgba(0,0,0,0.7);
    width: 620px;
    height:auto;
    margin: auto;
}
.imagenBusqueda{
    border-radius: 50%;
    overflow: hidden;
	margin-top: 10px;
	width: 150px;
	height: 100px;
}
.imagenBusqueda img{
	width: 100%;
	height: 100%
}
.mensajeError{
	background-color: rgba(0,0,0,0.7);
}
